APP_NAME="Ami Polymer"
# APP_NAME= "APPL eDigital App."
APP_ENV=local
APP_KEY=base64:UHDZcNhBKA4uWmXBtewnQQsleHaabQQAeUNozjc+YuY=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000
ASSET_PREFIX= 
# ASSET_PREFIX=/public/
APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=daily
LOG_STACK=daily
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3366
DB_DATABASE=test_dashboard_db
DB_USERNAME=test_dashboard_db
DB_PASSWORD=test_dashboard_db

SESSION_DRIVER=database
SESSION_LIFETIME= 120
# SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

# MAIL_MAILER=log
# MAIL_SCHEME="tls"
# MAIL_HOST="smtp.office365.com"
# MAIL_PORT=587
# MAIL_USERNAME="no-reply@amipolymer.com"
# MAIL_PASSWORD="Quh05490"
# MAIL_FROM_ADDRESS="no-repl@amipolymer.com"
# MAIL_FROM_NAME="${APP_NAME}"

# Looking to send emails in production? Check out our Email API/SMTP product!
# gowibon459@inreur.com
# 1577ceE5f34$07
MAIL_MAILER=log
MAIL_MAILER=smtp
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=c31a52765dddf8
MAIL_PASSWORD=3406c2f96018c2
MAIL_ENCRYPTION=null

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

MENU_SHOW = Yes
TABLE_PAGINATION_LIMIT = 10

MAIN_URL = 'http://127.0.0.1:8000/'

# OnGrid API Credentials
ONGRID_BASE_URL=https://api-staging.ongrid.in/app/v1/
ONGRID_USERNAME=amipolymer
ONGRID_PASSWORD=dS84a7qL9c2G2ma9RWDDo8X9f2xWhwSZIZQFS76q0vGd4ZrWmokudIEs04svooWA
ONGRID_COMMUNITY_ID=78035
ONGRID_CONSENT_TEXT = "The Individual does not and will not have any objection to Ami Polymer sharing the Individual's personal information and documents, including but not limited to name, gender, date of birth, addresses, mobile number, email, education record, employment record, Aadhaar number, other government issued IDs such as Voter ID, PAN card, driving license etc. (collectively Proprietary Information) with OnGrid (Handy Online Solutions Private Limited) for the purpose of background checks and verification. The individual understands that OnGrid maintains Proprietary Information on its platform in a secure manner, and it will only be accessible to Ami Polymer and its associates/partners/affiliates, and will not be shared with any other individual or organization without the Individual's explicit consent."

ONBOARDING_SR_HR_EMAILS = "hr@amipolymers.com"


# ADD HERE ALL VALIDATE DATE FOR JOIN PROCESS BEFORE START JOIN PROCESS
ONBOARDING_JOIN_PROCESS_PAST_DAYS = 5
ONBOARDING_JOIN_PROCESS_FUTURE_DAYS = 2 
ONBOARDING_APPOINTMENT_DAYS = 2
ONBOARDING_OFFER_DAYS = 3
ONBOARDING_REGISTRATION_DAYS = 5

# FOR RUN NORMALY
# php artisan serve     
# FOR RUN AS IP:PORT
# php artisan serve --host=192.168.0.234 --port=8000



# ONBOARDING_ALL_DOCUMENTS_REQUIRED=false
ONBOARDING_ALL_DOCUMENTS_REQUIRED=true

# Optional: copy all onboarding emails (candidate, HR, SR-HR) to this address
ONBOARDING_MAIL_CC=onboarding-copy@company.com
